<h1 class="text-center">Create a new Game</h1>

<div class="row">
    <div class="col-sm-6">
      <%= image_tag("map.png", size:'500x500', id:'pointer') %>
    </div>
    <div class="col-sm-6">
      <p>X:<span id="x"></span></p>
      <p>Y:<span id="y"></span></p>
    </div>
</div>
