<center>
	<h1>Create a new Game</h1>
	<table><tbody><tr>
		<td><%= image_tag("map.png", size:'500x500', id:'pointer') %></td>
		<td>
			<script type="text/javascript">
			<!--
			var myImg = document.getElementById("pointer");
			myImg.onmousedown = GetCoordinates;
			//-->
			</script>
			<p>X:<span id="x"></span></p>
			<p>Y:<span id="y"></span></p>
		</td>
</center>