<div class="page-header text-center">
  <h1>How to play?</h1>
</div>

<p>-Spot the bin is a capture the flag style game that can be played by yourself or against other players. The goal of the game is to check in or capture each location on the map. As you capture all of these individual locations, you will be blazing a trail. This trail is the key to the game, you want to break your competitors trails while keeping yours protected. If your trail is broken by a competitor, you will lose all your capture points beyond the break. The only way to lose the game, is to be completely encircled by your opponents. Once encircled, you cannot claim any new locations and have lost.</p>


<a href="#">Download the game today</a>