<div class="page-header">
  <div class="text-center">
    <%= image_tag( "hpimg.png", :size => "300x300" )%>
    <h2>Spot the Bin</h2>
  </div>
  <h4>Current games:</h4>
  <div class="list-group">
    <% @games.each do |game| %>
      <div class="list-group-item">
        <%= link_to "NAME: #{game.name}, NODES: #{game.nodes.count} nodes", game%>
          <% a = 0 %>
          <% while a < game.players.length %>
            <%= image_tag( "hpimg.png", class: 'pull-right', :size => "20x20" )%>
            <% a = a + 1 %>
          <% end %>
          <div style="float:right; margin-right:20px;">PLAYERS: </div>
      </div>
    <% end %>
  </div>
</div>