<div class="page-header text-center">
  <h1>What is spot the bin?</h1>
</div>
<p>-Spot the bin is an interactive game that teaches you about the city of Endinburgh. This game is to be played using your android smartphone to compete against others in the city. The goal of this game is both to learn and visit the location of parks, libraries, community centers, neighborhood offices and much more. </p>

<a href="#">Download the game today</a>

<br><br><hr>
<em><small>Spot the bin is a game that Mojmir Mutny does not like.</small></em>